*.py[cod]

src/super_state_machine/_version.py

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
uv.lock

# Unit test / coverage reports
.coverage
htmlcov

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
