Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.2
docutils==0.12
flake8==2.2.2
mccabe==0.2.1
pep8==1.5.7
py==1.10.0
pyflakes==0.8.1
pytest==3.0.2
pytest-cov==2.3.1
pyhistory==1.2.1
tox==1.7.2
virtualenv==1.11.6
wheel==0.23.0
